@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=FreeSans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

:root {
  --color-blue: #000046;
  --color-purplish: #423d9c;
  --color-purplish-var: #423d9cb7;
}
*::before,
*::after {
  box-sizing: border-box;
}
#transition {
  transition: all ease-in-out 0.5s;
}

.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}
.flex-6 {
  flex: 6;
}

.color-blue {
  color: var(--color-blue);
}
.color-purplish {
  color: var(--color-purplish);
}
.color-purplish-var {
  color: var(--color-purplish-var);
}
.bg-purplish {
  background-color: var(--color-purplish);
}
.bg-purplish-var {
  background-color: var(--color-purplish-var);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input[type="text"],
textarea {
  outline: none;
}
.signup-content input[type="text"],
.login-content input[type="text"] {
  transition: border-color ease-in 0.5s;
}
.signup-content input[type="text"]:focus,
.login-content input[type="text"]:focus {
  border-color: var(--color-purplish);
}
#name {
  width: 75%;
}

#email,
#password {
  width: 48%;
}
.home-search-form input[type="text"] {
  transition: border-color ease-in 0.5s;
  outline: none;
}
.home-search-form input[type="text"]:focus {
  border-color: var(--color-purplish);
}
.home-search {
  top: 0;
  right: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  transition: color ease-in 0.5s;
}
.home-search-form input[type="text"]:focus + .home-search {
  color: var(--color-purplish);
}

.home-header {
  height: calc(97vh - 105px);
  background-image: url("/living room.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}
.deal-bar {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.product-list-heading {
  min-width: 300px;
  min-height: 40px;
}
.product-list-header {
  top: 0;
  left: 55px;
  width: 100%;
}
.product-list-header:before {
  position: absolute;
  top: 50%;
  left: -55px;
  width: 45px;
  height: 1.5px;
  background-color: rgb(55, 65, 81);
  transform: translateY(-50%);
  content: "";
}
.button-black:hover svg {
  fill: #000 !important;
}
.featured-product-badge {
  bottom: 3.2%;
  left: 0;
  z-index: 5;
  height: 32px;
}
.featured-product-badge {
  top: 0;
  left: 0;
  z-index: 5;
  height: 32px;
}
.strike-through {
  text-decoration: line-through;
}
.product-item:last-child {
  margin-right: 0;
}

.category-card {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}
.category-card:first-child {
  margin-right: 1em;
}
.feature:last-child {
  border: none;
}

.max-w-320 {
  max-width: 320px;
}
.min-w-568 {
  min-width: 568px;
}
.min-h-320 {
  min-height: 320px;
}
.min-h-370 {
  min-height: 370px;
}
.item-not-found {
  min-height: 50vh;
}
.min-h-70 {
  min-height: 70vh;
}

.color-white:hover {
  color: #fff !important;
}

.cart-button {
  background-color: transparent !important;
  color: gray !important;
  padding: 0 !important;
}
.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.custom-selector {
  display: inline-block;
  min-width: 250px;
}
.custom-selector select {
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  text-transform: capitalize;
  appearance: none;
  outline: none;
}
.custom-arrow {
  pointer-events: none;
  top: 47%;
  transform: translateY(-50%);
}
.custom-selector select option {
  padding: 0.75em;
  border-radius: 5px;
}
.w-132 {
  min-width: fit-content !important;
  min-width: 140px !important;
}
.w-132 select {
  width: 100%;
}
.grid-cols-1\/2 {
  grid-template-columns: 1fr 1.5fr;
}

.shopping-cart {
  grid-template-columns: 2fr minmax(0, 1fr);
}
.loading {
  min-height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-purplish);
}
.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  margin: 5px 2px 0 2px;
  border-radius: 50%;
  background-color: transparent;
  border-top-color: #fff;
  animation: spin 0.8s linear infinite;
  -webkit-animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.cart-button-home {
  color: gray !important;
}
.cart-button-home:hover,
.cart-button-home:hover svg {
  fill: var(--color-purplish) !important;
}
.cart-button-home:hover span {
  color: var(--color-purplish) !important;
}

.cart-button-home span {
  order: 10;
  margin-right: 0;
  margin-left: 10px;
  color: #000;
}
.cart-tab::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  z-index: 5;
  transition: all 0.4s linear;
  opacity: 0;
}
.cart-tab.active-tab::after {
  opacity: 1;
  width: 100%;
}
.cart-tab:first-child {
  padding-left: 0;
}
.cart-tab:last-child {
  padding-right: 0;
}
.cart-tab.active-tab {
  font-weight: bold;
}
.cart-product {
  grid-template-columns: 1fr 2fr 1fr;
  border-bottom: 1px solid;
}
.cart-product:last-child {
  border-bottom: 0;
}
@media screen and (min-width: 640px) {
  .product-column {
    max-width: 90%;
    margin: 0 auto;
  }
}
.cart-item:last-child {
  border-bottom: 0;
}

@media (max-width: 640px) {
  .category-card {
    min-height: 250px;
  }
  .min-w-320 {
    min-width: 320px;
  }
  .max-w-480 {
    max-width: 480px;
  }
  .error-image {
    opacity: 0;
    height: 0 !important;
    width: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
    min-width: 0 !important;
    max-width: 0 !important;
    visibility: hidden !important;
    top: -50000px;
    bottom: -50000px;
  }
  .shopping-cart {
    grid-template-columns: minmax(0, 1fr);
  }
}
