@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=FreeSans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

:root {
  --color-blue: #000046;
  --color-green: #159957;
  --color-blue-variant: #155799;
  --color-blue-light: #1cb5e0;
  --color-purplish: #423d9c;
  --color-purplish-var: #423d9cb7;
}

.color-blue {
  color: var(--color-blue);
}
.bg-purplish {
  background-color: var(--color-purplish);
}
.bg-purplish-var {
  background-color: var(--color-purplish-var);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.signup-content input[type="text"],
.login-content input[type="text"] {
  transition: border-color ease-in 0.5s;
  outline: none;
}
.signup-content input[type="text"]:focus,
.login-content input[type="text"]:focus {
  border-color: var(--color-purplish);
}
#name {
  width: 75%;
}

#email,
#password {
  width: 48%;
}
.home-search-form input[type="text"] {
  transition: border-color ease-in 0.5s;
  outline: none;
}
.home-search-form input[type="text"]:focus {
  border-color: var(--color-purplish);
}
.home-search {
  top: 0;
  right: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  transition: color ease-in 0.5s;
}
.home-search-form input[type="text"]:focus + .home-search {
  color: var(--color-purplish);
}

.home-header {
  height: calc(97vh - 105px);
  background-image: url("/970-80.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.deal-bar {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
